---
type InfoConfig = {
    heading: string,
    styles: string,
};

interface Props {
    title: string;
    type: "examples" | "jargon" | "warning";
};
const {title, type} = Astro.props;

/*
  Tailwind doesn't let you do percentage stops idiomatically, 
  so the the hex of the corresponding -50 colour is used with the percentage.
*/
const config: InfoConfig = (() => {
    switch (type) {
        case "examples":
            const green50 = "#ddf1f3";
            const green700 = "#15803d";
            return {
                heading: `✍️ Examples:`,
                styles: `from-green-100 via-[${green50}_90%] dark:from-green-500 dark:via-[${green700}_90%] dark:to-green-800 border-green-800`,
            }
        case "jargon":
            const purple50 = "#faf5ff";
            const purple700 = "#7d23ce";
            return {
                heading: `🪶 Jargon: ${title}`,
                styles: `from-purple-100 via-[${purple50}_90%] dark:from-purple-500 dark:via-[${purple700}_90%] dark:to-purple-800 border-purple-800`,
            };
        case "warning":
            const amber50 = "#fffbeb";
            const yellow700 = "#a06308";
            return { 
                heading: `🚧 Warning: ${title}`,
                styles: `from-amber-100 via-[${amber50}_90%] dark:from-yellow-500 dark:via-[${yellow700}_90%] dark:to-yellow-800 border-yellow-800`,
            };
    };
})();

/* 
  This is a <div> and not a more semantically meaningful element like <aside>
  because Info cannot be separated from the content. 
  Jargon must be explained. Vocbaulary must be introduced.
*/
---
<div class={`info ${config.styles}`}>
    <p><strong>{config.heading}</strong></p>
    <slot class="last:mb:0 via-amber-50" />
</div>

<style is:global>
    @tailwind components;
    @layer components {
        .info {
            /* From and via is configured, fade to transparent automatically. */
            @apply bg-gradient-to-b;
            @apply pt-4 px-4 pb-4;
            @apply my-8;
            @apply border-solid border-x-2 border-t-4 border-b-0 rounded-t-2xl;
        }
        /* 
          .block has been extracted so that the last paragraph of this <div> 
          has no margin-bottom. 
        */
        .info p, .info strong {
            @apply last:mb-0 bg-transparent;
        }
    }
</style>
