---
type InfoConfig = {
    heading: string,
    styles: string,
};

interface Props {
    title: string;
    type: "jargon" | "warning";
};
const {title, type} = Astro.props;

/*
  Tailwind doesn't let you do percentage stops idiomatically, 
  so the the hex of the corresponding -50 colour is used with the percentage.
*/
const config: InfoConfig = (() => {
    switch (type) {
        case "jargon":
            const purple50 = "#faf5ff";
            const purple500 = "#a855f7";
            return {
                heading: `🪶 Jargon: ${title}`,
                styles: `from-purple-100 via-[${purple50}_90%] dark:from-purple-300 dark:via-[${purple500}_90%] dark:to-purple-600 border-purple-600`,
            };
        case "warning":
            const amber50 = "#fffbeb";
            const amber500 = "#f59e0b";
            return { 
                heading: `🚧 Warning: ${title}`,
                styles: `from-amber-100 via-[${amber50}_90%] dark:from-amber-200 dark:via-[${amber500}_90%] dark:to-amber-600 border-amber-600`,
            };
    };
})();

/* 
  This is a <div> and not a more semantically meaningful element like <aside>
  because Info cannot be separated from the content. 
  Jargon must be explained. Vocbaulary must be introduced.
*/
---
<div class={`info ${config.styles}`}>
    <p><strong>{config.heading}</strong></p>
    <slot class="last:mb:0 via-amber-50" />
</div>

<style is:global>
    @tailwind components;
    @layer components {
        .info {
            /* From and via is configured, fade to transparent automatically. */
            @apply bg-gradient-to-b;
            @apply pt-4 px-4 pb-4;
            @apply my-8;
            @apply border-solid border-x-2 border-t-4 border-b-0 rounded-t-2xl;
        }
        /* 
          .block has been extracted so that the last paragraph of this <div> 
          has no margin-bottom. 
        */
        .info p, .info strong {
            @apply last:mb-0 bg-transparent;
            @apply dark:text-black dark:bg-transparent;
        }
    }
</style>
